doctype html
html
  head
    title Dancer Motion Tracker 
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
      
    link(rel="stylesheet", href="/stylesheets/orienter.css")

    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/jquery/jquery.min.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/backbone/backbone.js")
    script(src="/lib/two.js")
    script(src="javascript/orienter/buffer-loader.js")
    script(src="javascript/orienter/orienter_audio.js")

  body
    div#anim

    div#start
        a(href="#").
            Start

    script(src="javascript/orienter/orienter.js")
    script.
      $(document).on('touchmove', function(e) {
        e.preventDefault();
      });
