doctype html
html
  head
    title Orients
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    link(type="text/css", rel="stylesheet", href="stylesheets/orients.css")

    script(src="/socket.io/socket.io.js")
    script(src="/lib/THREE-r65.min.js")
    script(src="/bower_components/jquery/jquery.min.js")
    script(src="/bower_components/underscore/underscore.js")
    script(src="/bower_components/backbone/backbone.js")

    script(src="javascript/orienter/orient_model.js")
    script(src="/javascript/orients/orients.js")
    script(src="/javascript/orients/orient_cms.js")


  body

    ul#header
        li#cid.
            Cid
        li#orientation.
            Orientation
        li#position.
            Position
        li#target.
            Target orientation
        li#visualize.
            Visualize
        li#blink.
            Blink
        li#track.
            Track
        li#tempo.
            Tempo
        li#gain.
            Gain
        li#radar.
            Radar




    